.App {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.currency-container {
}

.currency {
  color: rgb(226, 226, 226);
  padding: 1rem;
  font-size: 5rem;
  font-family: 'Audiowide';
}

.app-logo {
  font-family: 'Monoton';
  color: #0ef8f8;
  font-size: 6.1rem;
  position: absolute;
  padding: 5rem;
  top: 10px;
}

.App-header {
  display: flex;
  flex: 1;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

